In [1]:
pip install rsa

Requirement already satisfied: rsa in c:\users\saurabh\desktop\sourabh raj\flask_application\weather_app\myenv\lib\site-packages (4.9)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\saurabh\desktop\sourabh raj\flask_application\weather_app\myenv\lib\site-packages (from rsa) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import rsa

In [3]:
public_key, private_key = rsa.newkeys(512)

In [4]:
import pickle

In [5]:
keys = {
    "private_key": private_key,
    "public_key": public_key
}

In [6]:
with open("keys.pkl", "wb") as file:
    pickle.dump(keys, file)

In [7]:
import rsa
import pickle

In [8]:
with open("keys.pkl", "rb") as file:
    keys = pickle.load(file)

In [10]:
text = b"Hello This is a Secret Message!"
print(text)
print(type(text))

b'Hello This is a Secret Message!'
<class 'bytes'>

In [11]:
s = "hello world!"
b = s.encode()
# str.encode() -> byte 
# byte.decode() -> string
e = b.decode()

print(s, type(s))
print(b, type(b))
print(e, type(e))

hello world! <class 'str'>
b'hello world!' <class 'bytes'>
hello world! <class 'str'>

In [12]:
text = "Hello World! Welcome to python!"
enc_text = rsa.encrypt(text.encode(), keys["public_key"])

In [13]:
print(enc_text)

b":\xbf\\\x16\\\x99\x8a\xd9\xa4\xb8\x12\xf3~\x9aP\xaa\xe6\x96\xec\x1bfLk\xd9\xbe\xd6q\xf2'{\x1d\xcd\xb7\x9a\x88\xf1\x01x\x93v\x9d\xca6\x7f~\xed\xf6#\x019\x1f\xb9\xd3\xda!\x06\xca\xd2#K\x95d'\x16"

In [14]:
msg = rsa.decrypt(enc_text, keys["private_key"]).decode()

In [15]:
print(msg)

Hello World! Welcome to python!

In [17]:
import sqlite3 as sql

In [18]:
con = sql.connect("weather.db")

In [19]:
cursor = con.cursor()

In [20]:
command = "CREATE TABLE user(email VARCHAR(200) PRIMARY KEY, \
    password VARCHAR(50) NOT NULL, name VARCHAR(200))"

In [21]:
cursor.execute(command)

In [33]:
command = "CREATE TABLE city(email VARCHAR(200), city VARCHAR(200),\
    CONSTRAINT `FK` FOREIGN KEY (email) REFERENCES user(email))"

In [34]:
cursor.execute(command)

In [30]:
con.commit()

In [24]:
command = "SELECT * FROM user"
cursor.execute(command)

cursor.fetchall()

[]

In [45]:
command = "INSERT INTO user VALUES (?, ?, ?)"
cursor.execute(command, ("sachin@grrassolutions.in", "redhat", "Sachin Yadav"))
# this error is showing cause we have already created this

IntegrityError: UNIQUE constraint failed: user.email

In [35]:
command = "SELECT * FROM city"
cursor.execute(command)

cursor.fetchall()

[]

In [37]:
command = "INSERT INTO city VALUES (?, ?)"
cursor.execute(command, ("sachin@grrassolutions.in", "jaipur"))

In [40]:
command = "INSERT INTO city VALUES (?, ?)"
cursor.execute(command, ("sachin@grrassolutions.in", "udaipur"))

In [41]:
command = "INSERT INTO city VALUES (?, ?)"
cursor.execute(command, ("sachin@grrassolutions.in", "delhi"))

In [43]:
command = "SELECT * FROM user, city"
cursor.execute(command)

In [44]:
cursor.fetchall()

[('sachin@grrassolutions.in',
  'redhat',
  'Sachin Yadav',
  'sachin@grrassolutions.in',
  'jaipur'),
 ('sachin@grrassolutions.in',
  'redhat',
  'Sachin Yadav',
  'sachin@grrassolutions.in',
  'udaipur'),
 ('sachin@grrassolutions.in',
  'redhat',
  'Sachin Yadav',
  'sachin@grrassolutions.in',
  'delhi')]

In [46]:
cursor.execute("SELECT * FROM city")

In [47]:
con.commit()

In [48]:
data = cursor.fetchall()

In [49]:
def show_record(data):
    for record in data:
        print(*record, sep='\t')

In [50]:
show_record(data)

sachin@grrassolutions.in	jaipur
sachin@grrassolutions.in	udaipur
sachin@grrassolutions.in	delhi

In [55]:
x = (5)
print(x, type(x))

5 <class 'int'>

In [56]:
x = (5, )
print(x, type(x))

(5,) <class 'tuple'>

In [52]:
email = "sachin@grrassolutions.in"

In [54]:
query = "SELECT * FROM user WHERE email=?"
cursor.execute(query, (email,))

In [57]:
data = cursor.fetchall()

In [58]:
print(data)

[('sachin@grrassolutions.in', 'redhat', 'Sachin Yadav')]

In [59]:
email = "rajat@grrassolutions.in"
query = "SELECT * FROM user WHERE email=?"

cursor.execute(query, (email,))
data = cursor.fetchall()
print(data)

[]

In [60]:
command = "InSERT INTO user(email, password, name) VALUES (?, ?, ?)"

cursor.execute(command, ("sachin@grrassolutions.in", "yahoo", "rajat"))

IntegrityError: UNIQUE constraint failed: user.email

In [61]:
try:
    command = "InSERT INTO user(email, password, name) VALUES (?, ?, ?)"
    cursor.execute(command, ("sachin@grrassolutions.in", "yahoo", "rajat"))
except sql.IntegrityError: 
    print("account already Exists")

account already Exists

In [62]:
cursor.close()

In [63]:
con.close()

In [65]:
import sqlite3 as sql 

con = sql.connect("weather.db")
cursor = con.cursor()

cursor.execute("SELECT * FROM user")
print(*cursor.fetchall(), sep="\n")
cursor.close()
con.close()

('sachin@grrassolutions.in', 'redhat', 'Sachin Yadav')


Session / REST APIs